@mixin header(){
    position: sticky;
    top: 0;
    z-index: 10;
    display: grid;
    grid-template-columns: auto auto;
    padding: .3em 2em;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px inset green;
    img{
        width: 50px;
    }
    nav{
        ul{
            display: flex;
            gap: 1em;
            li{
                list-style: none;
                a{
                    font-size: 1.3em;
                    cursor: pointer;
                    text-decoration: none;
                    color: black;
                }
            }
            button{
                display: none;
            }
        }
    }
}